.hero {
    margin: 2rem auto 5rem auto;
    max-width: 90%;
}

.hero__content {
    text-align: center;
}

.hero__content h1 {
    padding: 1em 0.3em;
}

.hero__content p {
    line-height: 1.3em;
    letter-spacing: 0.03em;
}