.pdfCreator__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    gap: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
}

.pdfCreator__button:hover {
    background-color: rgb(185, 6, 6);
}

.pdfCreator__button p {
    font-size: 1.1rem;
}

.pdfCreator__button__icon {
    font-size: 2rem;
}

.invisible {
    display: none;
}

.pdfCreator__menu {
    position: absolute;
    height: 50%;
    width: 60rem;
    max-width: 95%;
    background-color: grey;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    z-index: 99;
}

.pdfCreator__menu__exit {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    font-size: 2rem;
    transition: 0.3s;
}

.pdfCreator__menu__exit span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.pdfCreator__menu__exit span:hover {
    background-color: grey;
}

.pdfCreator__menu__selection {
    width: 95%;
    height: 75%;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    background-color: white;
    overflow: auto;
}

.pdfCreator__menu__selection div {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.pdfCreator__menu__selection h4 {
    padding: 0.5rem 0;
}

.pdfCreator__menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0.8rem;
    margin: auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    gap: 0.5rem;
    transition: 0.3s;
}

.pdfCreator__menu__buton:hover {
    background-color: rgb(185, 6, 6);
}

.pdfCreator__menu__button p {
    font-size: 1rem;
}

.pdfCreator__menu__button__icon {
    font-size: 1.5rem;
}

@media screen and (min-width: 720px) {
    .pdfCreator__button {
        width: 50%;
    }
}