.pdfCreator__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.2rem;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    gap: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
}

.pdfCreator__button:hover {
    background-color: rgb(185, 6, 6);
}

.pdfCreator__button p {
    font-size: 0.9rem;
    font-weight: 600;
}

.pdfCreator__button__icon {
    font-size: 1.5rem;
}

.invisible {
    display: none;
}

.pdfCreator__menu {
    position: fixed;
    height: 100%;
    height: -webkit-fill-available;
    height: fill-available;
    width: 100%;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.pdfCreator__menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pdfCreator__menu__top p {
    padding: 0.7rem 1rem;
    background-color: red;
    color: white;
    margin: 0 1rem;
    border-radius: 2rem;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.pdfCreator__menu__top__exit {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    font-size: 2rem;
    transition: 0.3s;
}

.pdfCreator__menu__top__exit span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
}

.pdfCreator__menu__top__exit span:hover {
    background-color: darkgrey;
}

.pdfCreator__menu__selection {
    width: 95%;
    height: 80%;
    padding: 0.5rem 1rem;
    margin: 0 auto 1rem auto;
    background-color: white;
    overflow: auto;
}

.pdfCreator__menu__selection div {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.pdfCreator__menu__selection div:hover {
    background-color: grey;
    color: white;
}

.pdfCreator__menu__selection h4 {
    padding: 0 0 0.5rem 0;
    font-size: 1.5rem;
}

.pdfCreator__menu__button--download {
    position: absolute;
    width: 80%;
    height: 3rem;
    margin: auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: red;
    transition: 0.3s;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}

.pdfCreator__menu__button--download:hover {
    background-color: rgb(185, 6, 6);
}

@media screen and (min-width: 480px) {
    .pdfCreator__button {
        padding: 1rem;
    }

    .pdfCreator__button p {
        font-size: 1.1rem;
    }
    
    .pdfCreator__button__icon {
        font-size: 2rem;
    }
}

@media screen and (min-width: 720px) {
    .pdfCreator__button {
        width: 50%;
    }
    .pdfCreator__menu {
        height: 45rem;
        width: 95%;
        border-radius: 1rem;
    }

    .pdfCreator__menu__top p {
        margin: 0 2rem;
    }

    .pdfCreator__menu__selection {
        height: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .pdfCreator__menu {
        width: 60rem;
    }
}