.wikiInfo {
    max-width: 100%;
    padding: 2rem 1rem 5rem 1rem;
    background-color: rgb(41, 44, 79);
}

.wikiInfo__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    color: white;
}

.wikiInfo__article-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 60rem;
    max-width: 95%;
    margin: 0 auto 1rem auto;
}

.wikiInfo__article-container p {
    letter-spacing: 0.03em;
    line-height: 1.3em;
}

@media screen and (min-width: 720px) {
    .wikiInfo {
        padding: 10rem 1rem;
    }
}