.wikiInfo {
    max-width: 100%;
    padding: 2rem 1rem;
    margin: 7rem 0;
    background-color: pink;
}

.wikiInfo__article-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 60rem;
    max-width: 95%;
    margin: 0 auto 1rem auto;
}

.wikiInfo__article-container p {
    letter-spacing: 0.03em;
    line-height: 1.3em;
}