.wikiInfo {
    max-width: 100%;
    padding: 2rem 1rem;
    margin: 7rem 0;
    background-color: pink;
}

.wikiInfo__article-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.wikiInfo__article-container p {
    letter-spacing: 0.03em;
    line-height: 1.3em;
}