* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.App {
  background-color: rgb(47, 47, 166);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: black;
}