* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding-top: 5rem; 
}

.App {
  font-family: var(--font-family);
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}